div{
    background-color: aqua;
    float: left;
}

.DivLongue{
    width: 100%;
}

#Menu{
    width: 100%;
    height: 150px;
    background-color: rgb(148, 88, 237);
}

#MenuA{
    width: 60%;
    height: 100px;
    background-color: rgb(138, 236, 19);
    float: left;
}

#MenuB{
    width: 60%;
    height: 100px;
    background-color: rgb(205, 51, 194);
    float: left;
}

#BasDePage{
    width: 100%;
    height: 150px;
    background-color: rgb(235, 183, 42);
}